*.pyc
*.DS_Store
*output
*speed_dir_data*
post-process.py
*/images/*
*log*
*.png
*.log

# Distribution / packaging
.Python
env*/*
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/
